<mat-card appearance="outlined" [class.full-card]="fullCard">
  <mat-card-header *ngIf="showHeader">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with favorite icon"
    >
      <mat-icon fontSet="material-symbols-outlined">favorite</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="img-container">
      <div class="circle"></div>
      <img mat-card-image src="assets/images/{{ card.img }}.svg" />
    </div>
    <div class="text-container">
      <mat-card-title>{{ card.title }}</mat-card-title>
      <p class="desc">{{ card.desc }}</p>
    </div>
  </mat-card-content>
  <mat-card-footer *ngIf="showFooter">
    <mat-card-actions>
      <button mat-raised-button class="hero-text-cta">
        Add to Cart
        <mat-icon fontSet="material-symbols-outlined"
          >add_shopping_cart</mat-icon
        >
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
