:host {
  .main {
    min-height: 100vh;
    padding-top: 65.59px;
    overflow: hidden;
    @media (min-width: 600px) {
      padding-top: 73.59px;
    }
  }

  .scroll-content {
    height: 100%;
    overflow: hidden;
  }

  .scrollTopButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    background-color: var(--clr-hd-cyan);
    color: var(--clr-bg-black);
    visibility: hidden;
    transition: all 0.3s linear;
    opacity: 0;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
}
