<app-container>
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-card-title
        >Join our sweet community and stay up-to-date!
      </mat-card-title>
      <mat-card-subtitle
        >you'll be the first to know about new flavors, seasonal specials, and
        limited-time offers.
      </mat-card-subtitle>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Enter your email" required />
        <button mat-button matSuffix>Subscribe</button>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</app-container>
