<div class="backdrop" [class.show]="isVisible" (click)="toggleMenu()"></div>

<div [class.open]="isVisible" class="app-mobile-nav">
  <header>
    <button
      mat-icon-button
      class="close-icon"
      aria-label="Example icon-button with close icon"
      (click)="toggleMenu()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <mat-nav-list>
    @for (link of list; track link) {
    <a mat-list-item routerLink="/home" routerLinkActive="active">
      <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
      <span>{{ link.label }}</span>
    </a>
    }
  </mat-nav-list>
</div>
