:host {
  display: block;
  width: calc(100% - 8px);
  height: 56px;
  position: fixed;
  top: 0;
  padding: 0.3rem 0;
  z-index: 1;
  background-color: var(--clr-bg-green);
  @media (min-width: 600px) {
    height: 64px;
  }
}

mat-toolbar {
  background-color: transparent;

  .example-spacer {
    flex: 1 1 auto;
  }
}

// nav behavior on scroll
app-container {
  width: 100%;
  transition: all 0.3s ease;
}

app-container.black {
  background-color: var(--clr-bg-black);
  height: 100%;
  padding: 0.5rem 1.5rem;
  scale: 1.02;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  margin-top: 2rem;
  box-shadow: var(--shadow-2xl);
}
