<mat-card appearance="outlined">
  <mat-card-content>
    <div class="product-img">
      <img src="{{ donut.image }}" alt="{{ donut.description }}" />
    </div>
    <div class="product-content">
      <div class="product-content-top">
        <span class="product-content-top-name">{{ donut.name }}</span>
        <button
          mat-icon-button
          *ngIf="donut.isAddedToCart"
          (click)="updateCart(donut)"
        >
          <mat-icon fontSet="material-symbols-outlined">
            remove_shopping_cart
          </mat-icon>
        </button>
        <button
          mat-icon-button
          *ngIf="donut.isAddedToWishlist"
          (click)="updateWishlist(donut)"
        >
          <mat-icon fontSet="material-symbols-outlined">heart_minus</mat-icon>
        </button>
      </div>
      <div class="product-content-bottom">
        <div class="product-content-bottom-action">
          <mat-button-toggle-group
            name="fontStyle"
            aria-label="Font Style"
            *ngIf="donut.isAddedToCart"
            [hideSingleSelectionIndicator]="true"
          >
            <mat-button-toggle (click)="updateDonutQuantity(donut, false)">
              <mat-icon>remove</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle>{{ donut.quantity }}</mat-button-toggle>
            <mat-button-toggle (click)="updateDonutQuantity(donut, true)">
              <mat-icon>add</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <button
            mat-stroked-button
            *ngIf="donut.isAddedToWishlist"
            (click)="updateCart(donut)"
          >
            Add to cart
          </button>
        </div>
        <span class="product-content-bottom-price">${{ donut.price }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
