mat-card {
  overflow: hidden;
  padding: 0.5rem;
  border-radius: 14px;
  box-shadow: var(--shadow-2xl);

  mat-card-content {
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
      app-donut-action-buttons {
        height: auto;
        scale: 1;
        opacity: 1;
      }
    }
  }

  img {
    width: 29%;
    max-height: 288px;
  }

  mat-divider {
    height: 80px;
  }

  .content {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0.5rem 0;
    }

    app-donut-action-buttons {
      height: 0;
      scale: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }
  }
}
