@if (data.donut) {
<app-donut-full-card [donut]="data.donut"></app-donut-full-card>
} @if (data.paymentSessionDetails && data.successPayment == true) {
<mat-card appearance="outlined">
  <mat-card-content>
    <div class="paymentSessionDetails">
      <h1>Payment Successful 🎉</h1>
      <p>
        Thank you for your purchase,
        <span class="pinkText"> {{ data.paymentSessionDetails.customer }} </span
        >!
      </p>
      <p>Amount paid: ${{ data.paymentSessionDetails.amountReceived }}</p>
      <p>Transaction ID: {{ data.paymentSessionDetails.transactionId }}</p>
    </div>
    <mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Continue Shopping</button>
    </mat-dialog-actions>
  </mat-card-content>
</mat-card>
} @if (data.successPayment == false){
<mat-card appearance="outlined">
  <mat-card-content>
    <div class="paymentSessionDetails">
      <h1 class="pinkText">Your Order Has Been Canceled 😒</h1>
      <p>
        We're sorry to hear that. If you have any questions or need further
        assistance, please feel free to contact us.
      </p>
    </div>
    <mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Continue Shopping</button>
    </mat-dialog-actions>
  </mat-card-content>
</mat-card>
}
