<app-container [class.reverse]="showList">
  <app-rounded-corner-image
    appInView
    (isVisible)="onElementVisible()"
    [@imageReveal]="{
      value: inView ? 'visible' : 'hidden',
      params: { delay: 500 }
    }"
    [imgSource]="showList ? list.imgSource : default.imgSource"
  ></app-rounded-corner-image>
  <div class="content-wrapper">
    <div class="content" [id]="showList ? 'list' : 'default'">
      <h1
        class="content-title"
        [@reveal]="{
          value: inView ? 'visible' : 'hidden',
          params: { delay: 1 * 150 + 500 }
        }"
      >
        {{ showList ? list.title : default.title }}
      </h1>
      <p
        class="content-desc"
        *ngIf="!showList"
        [@reveal]="{
          value: inView ? 'visible' : 'hidden',
          params: { delay: 2 * 150 + 500 }
        }"
      >
        {{ default.desc }}
      </p>
      <a routerLink="/about">
        <button
          mat-stroked-button
          class="content-cta"
          *ngIf="!showList"
          [@reveal]="{
            value: inView ? 'visible' : 'hidden',
            params: { delay: 3 * 150 + 500 }
          }"
        >
          Read More
        </button>
      </a>
      <mat-list *ngIf="showList">
        <mat-list-item
          *ngFor="let item of list.items; let i = index"
          [@reveal]="{
            value: inView ? 'visible' : 'hidden',
            params: { delay: i * 150 + 500 }
          }"
        >
          <mat-icon matListItemIcon>check</mat-icon>
          <span>{{ item }}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</app-container>
