<div [class.backdrop]="isOpen" (click)="toggleDrawer()"></div>
<div
  class="app-drawer"
  [class.mobile]="isMobileDrawer"
  [@drawerState]="isOpen ? 'open' : 'closed'"
>
  <header>
    <button
      mat-icon-button
      class="close-icon"
      *ngIf="isMobileDrawer || isCartDrawer || isWishlistDrawer"
      (click)="toggleDrawer()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <app-nav-list *ngIf="isMobileDrawer"></app-nav-list>
  <app-cart-wishlist
    *ngIf="isCartDrawer || isWishlistDrawer"
  ></app-cart-wishlist>
</div>
