mat-toolbar {
  background-color: #004f4f;
  margin: 0.3rem 0;

  .example-spacer {
    flex: 1 1 auto;
  }

  .buttons-container {
    display: flex;
    gap: 0.5rem;
  }

  .menu-icon {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .mat-icon {
    color: #00dddd;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    color: #00dddd;
  }
}
