:host {
  margin-left: 1rem;

  mat-nav-list {
    margin: 16px;
    margin-top: 0;
    padding: 0;
    height: calc(100vh - 88px);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a.mat-mdc-list-item {
      .label {
        font-weight: 500;
      }

      &.active {
        background-color: var(--clr-bg-list-item-active);
        mat-icon,
        .label {
          color: var(--clr-txt-list-item-active);
        }
      }
    }

    &.desktop {
      display: none;
      margin: 0;
      min-width: 35rem;
      height: auto;
      flex-direction: row;
      gap: 0.5rem;
      @media (min-width: 1024px) {
        display: flex;
      }

      a.mat-mdc-list-item {
        text-align: center;
        height: var(--btn-height);
      }
    }
  }
}
