<button mat-icon-button (click)="updateCart(donut)">
  <mat-icon fontSet="material-symbols-outlined">
    {{ donut.isAddedToCart ? "remove_shopping_cart" : "add_shopping_cart" }}
  </mat-icon>
</button>
<button
  mat-icon-button
  *ngIf="!donut.isAddedToCart"
  (click)="updateWishlist(donut)"
>
  <mat-icon
    [fontSet]="!donut.isAddedToWishlist ? 'material-symbols-outlined' : ''"
  >
    favorite
  </mat-icon>
</button>
<button mat-icon-button (click)="openDialog('300ms', '300ms')">
  <mat-icon fontSet="material-symbols-outlined">visibility</mat-icon>
</button>
