:host {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

app-container {
  flex-direction: column;
  gap: 2rem;
  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.donuts-items {
  width: 100%;
  @media (min-width: 1024px) {
    width: 65%;
  }
  @media (min-width: 1280px) {
    width: 70%;
  }

  .header {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
      background-color: var(--clr-bg-black);
    }

    mat-form-field {
      height: 100%;
      --mdc-outlined-text-field-container-shape: 28px !important;

      .mat-mdc-input-element {
        height: 38px;
      }

      ::ng-deep .mat-mdc-form-field-infix {
        padding: 0.2rem 0;
        min-height: auto;
      }
    }

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

  .grid {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 920px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1280px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  mat-paginator {
    padding: 0.5rem;
    border-radius: 14px;
  }
}

.stack {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.flavoured {
  width: 100%;
  @media (min-width: 1024px) {
    width: 35%;
  }
  @media (min-width: 1280px) {
    width: 30%;
  }

  .header {
    height: 42px;
  }

  .stack {
    margin-top: 2rem;
  }
}
