:host {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  padding: 4rem 0;
}

app-container {
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
  }

  .content {
    @media (min-width: 768px) {
      max-width: 70%;
    }
    @media (min-width: 1024px) {
      max-width: 50%;
    }

    &-question {
      font-size: 1.1rem;
      font-weight: 500;
      color: var(--clr-txt-cyan);
    }

    &-title {
      font-size: 3rem;
    }

    &-text {
      font-size: 1.1rem;
      line-height: 1.6rem;
      @media (min-width: 1024px) {
        max-width: 80%;
      }
    }
  }

  .image {
    border-radius: 12px;
    box-shadow: var(--shadow-md);
    max-width: 90%;
    width: 400px;
    height: 440px;
    @media (min-width: 1024px) {
      max-width: 40%;
    }
  }
}
