<app-container [class.reverse]="showList">
  <app-rounded-corner-image
    [imgSource]="showList ? list.imgSource : default.imgSource"
  ></app-rounded-corner-image>
  <div class="content-wrapper">
    <div class="content">
      <h1 class="content-title">
        {{ showList ? list.title : default.title }}
      </h1>
      <p class="content-desc" *ngIf="!showList">{{ default.desc }}</p>
      <button mat-stroked-button class="content-cta" *ngIf="!showList">
        Read More
      </button>
      <mat-list *ngIf="showList">
        <mat-list-item *ngFor="let item of list.items">
          <mat-icon matListItemIcon>check</mat-icon>
          <span>{{ item }}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</app-container>
