<button
  mat-icon-button
  class="example-icon favorite-icon"
  aria-label="Example icon-button with favorite icon"
  (click)="toggleDrawer('WISHLIST_DRAWER')"
>
  <mat-icon fontSet="material-symbols-outlined">favorite</mat-icon>
</button>
<button
  mat-icon-button
  class="example-icon shopping_bag-icon"
  aria-label="Example icon-button with shopping bag icon"
  (click)="toggleDrawer('CART_DRAWER')"
>
  <mat-icon fontSet="material-symbols-outlined">shopping_bag</mat-icon>
</button>
<button mat-stroked-button *ngIf="!isUserExist" (click)="goToPage('sign-in')">
  <mat-icon fontSet="material-symbols-outlined">account_circle</mat-icon>
  Sign in
</button>
<button mat-stroked-button *ngIf="isUserExist" (click)="goToPage('profile')">
  🙋‍♂️ {{ sessionUser.name }}
</button>
<button
  mat-icon-button
  class="menu-icon"
  aria-label="Example icon-button with menu icon"
  (click)="toggleDrawer('MOBILE_DRAWER')"
>
  <mat-icon>menu</mat-icon>
</button>
