<h2 class="title">
  <ng-container *ngIf="isCartDrawer">
    <mat-icon [matBadge]="cartProducts.length" [matBadgeSize]="'large'">
      shopping_cart
    </mat-icon>
    Your Cart
  </ng-container>
  <ng-container *ngIf="isWishlistDrawer">
    <mat-icon [matBadge]="wishListProducts.length" [matBadgeSize]="'large'">
      favorite
    </mat-icon>
    Your Wishlist
  </ng-container>
</h2>
<div class="cards-container">
  <ng-container *ngIf="isCartDrawer">
    <app-drawer-card
      *ngFor="let product of cartProducts"
      [product]="product"
    ></app-drawer-card>
  </ng-container>
  <ng-container *ngIf="isWishlistDrawer">
    <app-drawer-card
      *ngFor="let product of wishListProducts"
      [product]="product"
    ></app-drawer-card>
  </ng-container>
</div>
<footer class="footer">
  <ng-container *ngIf="isCartDrawer">
    <p class="total">
      <span>Total</span><span>${{ calculateCartTotal().toFixed(2) }}</span>
    </p>
    <mat-divider></mat-divider>
    <p class="note">
      Shipping, taxes, and discounts will be calculated at checkout.
    </p>
    <div class="buttons">
      <button mat-stroked-button>PROCEED TO CHECKOUT</button>
      <button mat-raised-button (click)="navigateToPage(true)">
        VIEW CART
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="isWishlistDrawer">
    <div class="buttons">
      <button mat-stroked-button>ADD ALL TO CART</button>
      <button mat-raised-button (click)="navigateToPage(false)">
        VIEW WISHLIST
      </button>
    </div>
  </ng-container>
</footer>
