html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Quicksand", system-ui;
  // background-color: var(--mat-app-background-color);
  background-color: #004f4f;
  color: var(--mat-app-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", system-ui;
  color: #00fbfb;
}

a {
  color: #00dddd;
  text-decoration: none;
}

button {
  font-weight: bold !important;
}

svg {
  width: 100px;
}
