<app-container>
  <header class="header">
    <h1 class="title">Hot Deals</h1>
    <app-carousel-arrow-buttons [owlCar]="owlCar"></app-carousel-arrow-buttons>
  </header>
  <owl-carousel-o [options]="customOptions" #owlCar>
    <ng-container *ngFor="let donut of donuts">
      <ng-template carouselSlide [id]="donut.id.toString()">
        <app-card
          [donut]="donut"
          [showHeader]="true"
          [showFooter]="true"
        ></app-card>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</app-container>
